<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/carepackage.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>

<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '712828142168872',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
    var register = function(){
    	var response_obj = FB.getLoginStatus(function(response){
    		var user_id = response.authResponse.userID;
    		var user_name = document.getElementById("name").val();
    		var cc_num = document.getElementById("cc_num").val();
    		var expiry = document.getElementById("expiry").val();
    		var cvc = document.getElementById("CVC").val();

    		console.log(user_id + user_name + cc_num + expiry + cvc);

    	});
    }
    </script>
</head>

<body>
	<div id="header">
		<div class="typebutton" id="back" onclick="window.location.href = '/'">Back</div><span class="logotype">CAREPACKAGE.IO</span><div class="typebutton" id="done" onclick="register()">Done</div>
	</div>

	<div id="bodycontainer">
		<div id="ccheader"><h1>Enter your payment details</h1><h2>You will only be charged when you place an order</h2></div>
		<div id="ccform">
		<form id="stripe">
			<div class="fwinput">
				<label>Name on credit card</label>
				<input type="text" placeholder="James William Anderson" name="name" id="name"/>
			</div>

			<div class="fwinput">
				<label>Credit card number</label>
				<input type="text" placeholder="4242 4242 4242 4242" name="cc_num" id="cc_num"/>
			</div>

			<div class="hwinput" id="rightborder">
				<label>Expiration date</label>
				<input type="text" placeholder="00 / 00" name="expiry" id="expiry"/>
			</div>

			<div class="hwinput">
				<label>CVC code</label>
				<input type="text" placeholder="123" name="CVC" id="CVC"/>
			</div>
		</form>
		</div>
	</div>
</body>
</html>