<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/carepackage.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/carhartl/jquery-cookie/master/src/jquery.cookie.js"></script>

<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '712828142168872',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
    function getCookie(name) {
var cookieValue = null;
if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
}
    return cookieValue;
}
    	var csrftoken = $.cookie('csrftoken');

		function csrfSafeMethod(method) {
    		// these HTTP methods do not require CSRF protection
    		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({
    		beforeSend: function(xhr, settings) {
        		if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            		xhr.setRequestHeader("X-CSRFToken", csrftoken);
        		}
    		}
		});
    </script>
    <script>
    var register = function(){
    	var response_obj = FB.getLoginStatus(function(response){
    		var user_id = response.authResponse.userID;
    		var user_name = $("#name").val();
    		var cc_num = $("#cc_num").val();
    		var expiry = $("#expiry").val();
    		var cvc = $("#CVC").val();

        console.log(user_id + user_name + cc_num + expiry + cvc);

    		$.post('/api/createUser', {
    			"fb_id": user_id, 
    			"name": user_name, 
    			"cc_num": cc_num,
    			"expiry": expiry, 
    			"cvc": cvc
    		}, function(response){
    			if(response === "Success"){
    				window.location = '/browse';
    			}else{
    				$("#ccheader").append("<br><div style='color:red'>Your credit card information is invalid.</div>")
    				console.log(response);
    			}
    		});

    	});
    }
    </script>
</head>

<body>
	<div id="header">
		<div class="typebutton" id="back" onclick="window.location.href = '/'">Back</div><span class="logotype">CAREPACKAGE.IO</span><div class="typebutton" id="done" onclick="register()">Done</div>
	</div>

	<div id="bodycontainer">
		<div id="ccheader"><h1>Enter your payment details</h1><h2>You will only be charged when you place an order</h2></div>
		<div id="ccform">
		<form id="stripe">
			<div class="fwinput">
				<label>Name on credit card</label>
				<input type="text" placeholder="James William Anderson" name="name" id="name"/>
			</div>

			<div class="fwinput">
				<label>Credit card number</label>
				<input type="text" placeholder="4242 4242 4242 4242" name="cc_num" id="cc_num"/>
			</div>

			<div class="hwinput" id="rightborder">
				<label>Expiration date</label>
				<input type="text" placeholder="00 / 00" name="expiry" id="expiry"/>
			</div>

			<div class="hwinput">
				<label>CVC code</label>
				<input type="text" placeholder="123" name="CVC" id="CVC"/>
			</div>
		</form>
		</div>
	</div>
</body>
</html>