<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/carepackage.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
	<div id="header">
	</div>

	<div id="bodycontainer">
		<ul id="packagelist">
			<a href="/confirm"><li>Hackathon support<span class="description"><br/>Energy, energy, energy</span></li></a>
			<li>Hangover package<span class="description"><br/>Yeah, you fucked up</span></li>
			<li>Movie Night<span class="description"><br/>We'll get the popcorn ready</span></li>
			<li>Date Night<span class="description"><br/>Don't worry, we got this</span></li>
			<li>Anniversary<span class="description"><br/>Make it seem like you remembered</span></li>
			<li>Party w/e<span class="description"><br/>Turn down for wut</span></li>
		</ul>
		<div id="deliverystatus">Carepackage incoming in... <span class="timeindicator">5 Minutes</span></div>
	</div>
</body>
</html>
