<html>
<head>
	<link rel="stylesheet" type="text/css" href="carepackage.css">
	<meta name="viewport" content="width=500 user-scalable=no">
</head>

<body>
	<div id="header">
	<form id="stripe">
		<span class="typebutton" id="back"><a href="landing.html">Back</a></span><span class="logotype">CAREPACKAGE.IO</span><input type="submit" class="typebutton" id="done" value="Done"/>
	</div>

	<div id="bodycontainer">
		<div id="ccheader"><h1>Enter your payment details</h1><h2>You will only be charged when you place an order</h2></div>
		<div id="ccform">
		
			<div class="fwinput">
				<label>Name on credit card</label>
				<input type="text" placeholder="James William Anderson"/>
			</div>

			<div class="fwinput">
				<label>Credit card number</label>
				<input type="text" placeholder="4242 4242 4242 4242"/>
			</div>

			<div class="hwinput" id="rightborder">
				<label>Expiration date</label>
				<input type="text" placeholder="00 / 00"/>
			</div>

			<div class="hwinput">
				<label>CVC code</label>
				<input type="text" placeholder="123"/>
			</div>
		</form>
		</div>
	</div>
</body>
</html>