<html>
<head>
<script src="//use.typekit.net/dfl5xsl.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="carepackage.css">
	<meta name="viewport" content="width=500 user-scalable=no">


<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

</head>

<body>
	<div id="confirmation">
		<div id="receiptholder">
			<h1 id="orderconfirmation">Carepackage confirmation</h1>
			<form>
			<input type="text" class="location" name="location" id="locationinput" value="33E West Walnut Street, Philadelphia">
			<div id='map'></div>

			<script>
			L.mapbox.accessToken = 'pk.eyJ1IjoibWFydmlua2VubmlzIiwiYSI6ImdkZklROXMifQ.nS5DKlMcq3QQ-JexjqTQwA';

				navigator.geolocation.getCurrentPosition(function(position) {
				  console.log(position.coords.latitude);
				});
			var greenIcon = L.icon({
			    iconUrl: 'images/greenpin.png',
			    iconSize:     [25, 47], // size of the icon
			    iconAnchor:   [12, 47], // point of the icon which will correspond to marker's location
			});
			var map = L.mapbox.map('map', 'marvinkennis.kpgncinl', {zoomControl: false}, {attributionControl: false});
			    map.locate({setView : true});
			var marker = L.marker(new L.LatLng(48.858093, 2.294694), {
			    icon: greenIcon,
			    draggable: false
			});
			marker.bindPopup('This marker is draggable! Move it around.');
			marker.addTo(map);

			map.on('move', function () {
			marker.setLatLng(map.getCenter());
		//console.log(map.getCenter());
			});



	//Dragend event of map for update marker position
			map.on('dragend', function(e) {
			        var position = marker.getLatLng();
				lat = Number(position['lat']).toFixed(5);
				lng = Number(position['lng']).toFixed(5);
				var m = marker.getLatLng();
				lat = m.lat;
				lng = m.lng;

    			
    			$.getJSON( "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key=AIzaSyAoLrD3yxCOyEownYCLFVAyjkeRtu56Knc", function( data ) {
    				addresses = data;
    				response = addresses.results
    				locationinput.value = response[1].formatted_address;
				});

			});


			map.on('zoomend', function() {
								var m = marker.getLatLng();
				lat = m.lat;
				lng = m.lng;
    			$.getJSON( "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key=AIzaSyAoLrD3yxCOyEownYCLFVAyjkeRtu56Knc", function( data ) {
    				addresses = data;
    				response = addresses.results
    				locationinput.value = response[1].formatted_address;
				});


		});
			  







			</script>

			<div id="packagedetails">
				<div id="packagedescription">
					I-Made-A-Mess-Pack
					<span class="packageinfo"></br>We don't want to know...</span>
				</div>
				<div id="packageprice">$30</div>
			</div>

			<div type="submit" id="confirmbutton" value="Confirm carepackage delivery" action="request_deliveries.py"><a href="main_confirmed.html">Confirm care package delivery</a></div></form>
		</div>
		<div class="cancelorder"><a href="main.html">Nah, I'm good</a></div>
	</div>


</body>
</html>