<html>
<head>
<script src="//use.typekit.net/dfl5xsl.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="carepackage.css">
	<meta name="viewport" content="width=500 user-scalable=no">


</head>

<body>
	<div id="landing">
		<div class="spacer"></div>
		<div id="logo"></div>
		<h1 class="logotype" id="landinglogotype">CAREPACKAGE.IO</h1>
		<p id="slogan">Carepackage.io helps you out in any situation you don't want to be in or simply didn't anticipate.</p>
		<div class="landingdivider"></div>
<div id="fbsignin"><div class="fblogobg"></div><a href="ccentry.html">Sign in with Facebook</a></div>
	</div>


</body>
</html>