<html>
<head>
<script src="//use.typekit.net/dfl5xsl.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="carepackage.css">
	<meta name="viewport" content="width=500 user-scalable=no">


</head>

<body>
	<div id="main">
		<div id="mainheader">
			<a href="profile.html"><div id="btn_menu"></div></a>
			<div class="headertype">CARE PACKAGES</div>
		</div>
		<ul id="carepackages">
			<a href="confirmation.html"><li class="package"><div class="packageicon" id="hangover"></div>Hangover cure package<div class="packageprice">$10</div><span class="packdescription"><br/>Rough night huh?</span></li></a>
			<a href="confirmation.html"><li class="package"><div class="packageicon" id="date"></div>Date Night<div class="packageprice">$10</div><span class="packdescription"><br/>Well look at you!</span></li></a>
			<a href="confirmation.html"><li class="package"><div class="packageicon" id="cleaning"></div>I-Made-A-Mess-Pack<div class="packageprice">$10</div><span class="packdescription"><br/>We're not going to ask</span></li></a>
			<a href="confirmation.html"><li class="package"><div class="packageicon" id="pennapps"></div>PennApps Survival kit<div class="packageprice">$10</div><span class="packdescription"><br/>Caffeine and productivity food</span></li></a>
			<a href="confirmation.html"><li class="package"><div class="packageicon" id="party"></div>Party from a Postmate<div class="packageprice">$10</div><span class="packdescription"><br/>All the party supplies you need</span></li></a>
		</ul>
	</div>

</body>
</html>